.sectionClass {
  padding: 0px 0px 0px 0px;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

.sectiontitle {
  background-position: center;
  margin: 0px 0 0px;
  text-align: center;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101f2e;
}

.projectFactsWrap {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}

#projectFacts .fullWidth {
  padding: 0;
}

.projectFactsWrap .item {
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
  background-color: #ffffff;
}

.projectFactsWrap .item:nth-child(2) {
  background-color: #ffffff;
}

.projectFactsWrap .item:nth-child(3) {
  background-color: #ffffff;
}

.projectFactsWrap .item:nth-child(4) {
  background-color: #ffffff;
}

.projectFactsWrap .item p.counter-value {
  font-size: 40px;
  padding: 0;
  font-weight: bold;
  margin: 20px auto;
}

.projectFactsWrap .item p {
  color: #333;
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.projectFactsWrap .item span {
  width: 60px;
  background: #333;
  height: 2px;
  display: block;
  margin: 10px auto;
}

.projectFactsWrap .item i {
  vertical-align: middle;
  font-size: 50px;
  color: #0083c0;
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
  color: #333;
}

.projectFactsWrap .item:hover span {
  background: #333;
}

@media (max-width: 786px) {
  .projectFactsWrap .item {
    flex: 0 0 50%;
  }
}
